body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 4px rgb(255, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(229, 9, 20)
}




.chamada {
    background: rgb(229, 9, 20);
    padding-bottom: 40px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 25px;
}

p {
    font-size: 25px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}
.categoria {
    padding-left: 20px;
    padding-right: 20px; 
    margin-top: 50px;
}
.categoria-videos img {
    opacity: 0.5;
    height: 300px;
}
.categoria-videos img:hover {
      opacity: 1.0;
      border: 1px solid rgb(229, 9, 20);
}
.categoria h2{
    color: rgb(229, 9, 20);
}